nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.pic1{
    width: 500px;
}